@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --color-su-complete: var(--complete);
  --color-su-in-progress: var(--in-progress);
  --color-su-complete-dark: var(--complete-dark);
  --color-su-in-progress-dark: var(--in-progress-dark);
}

:root {
  --complete: #36d399;
  --complete-dark: #206257;
  --in-progress: #3abff8;
  --in-progress-dark: #644e73;
}
